@font-face {
  font-family: 'drius_halftoneregular';
  src: url('./fonts/drius/driushalf-webfont.woff2') format('woff2'),
    url('./fonts/drius/driushalf-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'drius_straightregular';
  src: url('./fonts/drius/driusstraight-webfont.woff2') format('woff2'),
    url('./fonts/drius/driusstraight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

:root {
  --dark-color-1: #000000;
  --dark-accent-color-1: #727272;
  --main-accent-color: #ca0000;
  --medium-accent-color: #c5c5c5;
  --hover-accent-color-1: #4f0069;
  --hover-border-color-1: #e26ed2;
  --ship-color: #241e1e;
  --main-title-font-size: clamp(2rem, 5vw, calc(5rem + 1vw));;
}

body {
  margin: 0;
}

#content {
  display: flex;
  position: relative;
  min-height: 100dvh;
  flex-direction: column;
  align-items: center;
  font-family: 'drius_straightregular', sans-serif;
  background-color: var(--dark-color-1);
  color: var(--main-accent-color);
}

.main-title {
  margin: 0;
  margin-top: 0.25em;
  font-size: var(--main-title-font-size);
}

.game {
  display: flex;
  align-items: center;
  padding: calc(var(--main-title-font-size) / 2);
}

.harbor {
  display: flex;
  position: absolute;
  align-items: center;
  background: var(--medium-accent-color);
  width:  100%;
  height: 100dvh;
}

.vs-text {
  font-size: clamp(2rem, 3vw, calc(3rem + 1vw));
  font-family: 'drius_halftoneregular', sans-serif;
  padding: 1em;
}

.gameboard {
  border-collapse: collapse;
  width: min(85vw, calc(200px + 17vw));
  height: min(85vw, calc(200px + 17vw));
  background-color: var(--medium-accent-color);
}

div.gameboard {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
}


.harbor .gameboard {
  width: min(85vw, calc(200px + 10vw));
  height: min(85vw, calc(200px + 10vw));
  background-color: var(--medium-accent-color);
}

.gameboard .square {
  border: 1px solid var(--dark-accent-color-1);
  background-color: var(--medium-accent-color);
}

.gameboard tr {
  height: 100% / 11;
}
.gameboard  td {
  width: calc(100% / 11);
  font-size: 0.75rem;
} 

.gameboard > .square:hover {
  border-color: var(--hover-border-color-1);
  background-color: var(--hover-accent-color-1);
}

.gameboard > .ship {
  border-color: var(--main-accent-color);
  background-color: var(--ship-color);
}

.gameboard[data-name = "player2"]>.ship {
  border-color: var(--dark-accent-color-1);
  background-color: var(--medium-accent-color);
}

.gameboard > .square[data-status="targeted"] {
  background-color: var(--dark-accent-color-1);
}

.gameboard> .square[data-status="targeted"]:hover {
  background-color: none;
  border-color: none;
}

.gameboard> .ship[data-status="targeted"] {
  background-color: var(--ship-color);
}

@media only screen and (max-width: 1024px) {
  .game {
    flex-direction: column;
  }
}