@font-face {
  font-family: 'drius_halftoneregular';
  src: url('./fonts/drius/driushalf-webfont.woff2') format('woff2'),
    url('./fonts/drius/driushalf-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'drius_straightregular';
  src: url('./fonts/drius/driusstraight-webfont.woff2') format('woff2'),
    url('./fonts/drius/driusstraight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'luxi_monoregular';
  src: url('./fonts/luxi-mono/luximr-webfont.woff2') format('woff2'),
    url('./fonts/luxi-mono/luximr-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

:root {
  --dark-color-1: #000000;
  --dark-accent-color-1: #727272;
  --main-accent-color: #e71a1a;
  --secondary-accent-color: #ffffff;
  --medium-accent-color: #c5c5c5;
  --hover-accent-color-1: #4f0069;
  --hover-border-color-1: #e26ed2;
  --ship-color: #241e1e;
  --main-title-font-size: clamp(2rem, calc(1.5vw + 1.5vh), calc(5rem + calc(0.5vw + 0.5vw)));
  --secondary-header-font-size: clamp(1.5rem, calc(1.25vw + 1.25vh), calc(3rem + calc(0.5vw + 0.5vw)));
  --medium-small-font: clamp(0.75rem, calc(1rem + calc(0.5vw + 0.5vh)), calc(2rem + calc(1vw + 1vh)))
}

body {
  margin: 0;
}

#content {
  display: flex;
  position: relative;
  min-height: 100dvh;
  flex-direction: column;
  align-items: center;
  font-family: 'drius_straightregular', sans-serif;
  background-color: var(--dark-color-1);
  color: var(--main-accent-color);
}

.main-title {
  margin: 0;
  margin-top: 0.25em;
  font-size: var(--main-title-font-size);
}

.game {
  display: flex;
  align-items: center;
  padding: calc(var(--main-title-font-size) / 2);
}

/* lobby style */

.harbor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  position: absolute;
  background: linear-gradient(150deg, var(--dark-color-1) 50%, var(--main-accent-color) 50.15%);
  width: 100%;
  height: 100dvh;
}

.lobby-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-lobby-container {
  display: flex;
  border-radius: 8px;
  box-shadow: 0 -6px 0 3px var(--secondary-accent-color);
  flex-direction: column;
  width: min-content;
  background-color: black;
}

.greeting {
  margin: 0;
  text-align: center;
  font-size: var(--secondary-header-font-size);
  color: var(--secondary-accent-color);
  padding: 1em;
}

.harbor .gameboard-container {
  color: var(--secondary-accent-color);
  padding: 2em 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-accent-color);
}

.harbor .gameboard {
  width: min(85vw, calc(150px + calc(8vw + 8vh)));
  height: min(85vw, calc(150px + calc(8vw + 8vh)));
  background-color: var(--main-accent-color);
}

.gameboard>tr:first-child,
.gameboard th {
  background-color: var(--main-accent-color);
}

.gameboard tr {
  height: 100% / 11;
}

.gameboard td {
  position: relative;
  width: calc(100% / 11);
  font-size: var(--medium-small-font);
}

.draggable {
  position: absolute;
  left: 0;
  top: 0;
  margin: auto;
  background-color: var(--dark-color-1);
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* main game board style */
.vs-text {
  font-size: clamp(2rem, 3vw, calc(3rem + 1vw));
  font-family: 'drius_halftoneregular', sans-serif;
  padding: 1em;
}

.gameboard {
  font-family: 'luxi-monoregular', sans-serif;
  border-collapse: collapse;
  width: min(85vw, calc(200px + 17vw));
  height: min(85vw, calc(200px + 17vw));
  background-color: var(--medium-accent-color);
}

div.gameboard {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
}

.gameboard .square {
  border: 1px solid var(--dark-accent-color-1);
  background-color: var(--medium-accent-color);
}

.gameboard > .square:hover {
  border-color: var(--hover-border-color-1);
  background-color: var(--hover-accent-color-1);
}

.gameboard > .ship {
  border-color: var(--main-accent-color);
  background-color: var(--ship-color);
}

.gameboard[data-name = "player2"]>.ship {
  border-color: var(--dark-accent-color-1);
  background-color: var(--medium-accent-color);
}

.gameboard > .square[data-status="targeted"] {
  background-color: var(--dark-accent-color-1);
}

.gameboard> .square[data-status="targeted"]:hover {
  background-color: none;
  border-color: none;
}

.gameboard> .ship[data-status="targeted"] {
  background-color: var(--ship-color);
}

@media only screen and (max-width: 1024px) {
  .game {
    flex-direction: column;
  }
}